@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('https://tse2.mm.bing.net/th?id=OIG1.3EYKajjzWXkgOdiLhYVp&pid=ImgGn');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-translucent {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
}